<h1>Add an artist to your catalogue<h1>

<form action="/artists" method="post">
  <label for = "name">Artist Name:</label>
  <input type = "text" name = "name">

  <input type = "submit" name = "Find Artist">
</form>